absl-py
asgiref 
astor 
astunparse
blinker
brotlipy
cachetools 
certifi
cffi 
chardet
click
cryptography 
dj-database-url
Django
django-heroku
djangorestframework 
gast
google-auth 
google-auth-oauthlib
google-pasta
grpcio 
gunicorn
h5py 
idna 
importlib-metadata
joblib 
Keras 
Keras-Preprocessing
Markdown 
nltk 
numpy 
oauthlib
opt-einsum
protobuf
psycopg2
pyasn1
pyasn1-modules
pycparser 
PyJWT
pyOpenSSL
PySocks
pytz
PyYAML
regex 
requests 
requests-oauthlib 
rsa 
scipy 
six 
sqlparse
tensorboard 
tensorboard-plugin-wit
tensorflow
tensorflow-estimator 
termcolor
tqdm 
urllib3 
Werkzeug
whitenoise
wrapt
zipp
